{% extends 'planner/base.html' %}
{% block title %}Review {{project.name}} Project{% endblock %}

{% block body_block %}
    {% if user.is_authenticated %}

    <form id="page_form" method="post" action="{% url 'add_page'  project.slug %}">
        <h2 class="form-signin-heading">Add a Feature to <a href="{% url 'project'  project.slug %}"> {{ project.name }}</a></h2>
        {% if project %}
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            <ul>
            {% for field in form.visible_fields %}
                <li>
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
                </li>
            {% endfor %}
            </ul>
            <button class="btn btn-primary" type="submit" name="submit">Add Feature</button>
        {% else %}
        <strong>A project by this name "{{project}}" does not exist.</strong>
        {% endif %}
    {% else %}
    <strong> User is not registered!</strong>
    {% endif %}            
    </form>
{% endblock %}
