{% extends 'planner/base.html' %}
{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block body_block %}

    <div class="page-header">
    {% if user.is_authenticated %}
        <h1 class="text-center">Hello {{ user.username | title}} , Welcome to Vplanner!</h1>
    {% else %}
        <h1 class="text-center">Hello world, Welcome to Vplanner!</h1>
    {% endif %} 
    </div>
    <div class="row placeholders">
        <div class="col-xs-12 col-sm-12 placeholder">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Features</h3>
            </div>
        </div>
        {% if categories_likes %}
            <p>Top 5 changing features：</p>
            <ul class="list-group">
                {% for project in categories_likes %}
                    <li class="list-group-item"><a href="{% url 'project'  project.slug %}">{{ project.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no features present.</strong>            
        {% endif %}
        </div>
    </div>    
{% endblock %}
